**/__pycache__/
**/*.ipynb*
**/.vscode/
**/*.sqlite
**/recovery/
**/temps/
/static/raw_data/*
/static/!raw_data/.gitkeep
/static/processed_data/*
/static/!processed_data/.gitkeep
/static/json/*
/static/!json/.gitkeep
