amqp==2.4.2
aniso8601==6.0.0
atomicwrites==1.3.0
attrs==19.1.0
billiard==3.6.0.0
celery==4.3.0
Click==7.0
Flask==1.0.2
Flask-RESTful==0.3.7
itsdangerous==1.1.0
Jinja2==2.10.1
kombu==4.5.0
MarkupSafe==1.1.1
more-itertools==7.0.0
neo4j-driver==1.6.3
neomodel==3.3.1
neotime==1.7.4
pep8==1.7.1
pluggy==0.9.0
py==1.10.0
pytest==4.4.1
pytz==2019.1
six==1.12.0
vine==1.3.0
Werkzeug==0.15.2
